@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400&display=swap');
 




.contenedor-form {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 500vh;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    }



.registro {
    font-family: 'Mukta Malar', sans-serif;
    display: flex;
   flex-direction: column;
   width: 350px;
   height: 300px;
   border-style: groove;
   border-radius: 30px;
   padding: 20px;
   background-color: #FF3CAC;
   background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
   
}

input {
    padding: 10px;
    border-style: none;
    border-radius: 15px;
    width: 90%;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

label {
    font-weight: 400;
}


.boton-registro {
    display: flex;
    justify-content: center;
    width: 100%;
}


.boton {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 60%;
    font-family: 'Mukta Malar', sans-serif;
    font-weight: 400;
    cursor: pointer;
    border-style: double;
    border-color: blueviolet;
    font-size: 18px;
    padding: 5px;
    
}

.login {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

